.biografia{
    
    &__album{
    margin: 1rem 0;
    background: rgba( 115, 115, 115, 0.6 );
    border-radius: 2rem;
    border: 10px solid rgba( 255, 255, 255, 0.18 );
    }

    &__parrafo{
    text-align: center;
    font-size: 17px ;
    background: rgba( 68, 60, 60, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #ffffff;
    }

    &__principal{
    @extend .biografia__parrafo;
    margin-bottom: 2rem;
    }

    &__lista{
    @extend .biografia__parrafo;
    margin-bottom: 2rem;
    }
}

