.form1 {
    margin-top: 1rem;
    padding: 1rem;
    background: rgba(68, 60, 60, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
    height: 600px;

  
    &__contacto {
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: 800;
    }
  
    &__pais {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 98%;
    }
  
    &__contacto1 {
    margin-left: 2rem;
    }
    
    &__genero{
        margin-left: 2rem;
    }

    &__comentario {
    color: #364551;
    }
  
    &__boton {
    margin-top: 1rem;
    width: 98%;
    }
}