body{
    color: #ffffff;
}

.merch__container {
    margin: 5rem auto;
    background-color: #364551;
    border-radius: 2rem;
    width: 90%;
}

.merch__parrafo{
    margin: 0;
    padding: 10px;
    font-weight: 700;
}

.merch__table{
    width: 400px;
    text-align: center;
    font-weight: 700;
}

.merch__band{
    margin-top: 1rem;
}

.merch__tittle{
    margin-top: 10px;
}
